workflows/example-gravity-cms-deepseek.json
{
  "name": "Gravity CMS Weboldal Generátor - v1.5.0 (TAR.GZ EXPORT)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "options": {} },
      "id": "trigger-webhook",
      "name": "Webhook (Indító)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "gravity-generate"
    },
    {
      "parameters": {
        "jsCode": "let input = {};\ntry { input = $input.item.json; } catch(e) {}\ntry { if (!input || !input.businessName) input = $json; } catch(e) {}\n\nconst projectType = input.projectType || 'landing_page';\nconst businessName = input.businessName || 'My Business';\nconst languages = input.languages || ['hu'];\nconst description = input.description || '';\nconst designStyle = input.designStyle || 'modern';\nconst aiModel = input.aiModel || 'deepseek-v4-flash';\nconst customPrompt = input.customPrompt || '';\nconst apiKeyOverride = input.apiKeyOverride || '';\nconst notifyEmail = input.notifyEmail || '';\nconst logoMode = input.logoMode || 'upload';\nconst logoPrompt = input.logoPrompt || '';\nconst colors = input.colors || { primary: '#6366f1', secondary: '#8b5cf6', accent: '#f59e0b', headerBg: '#ffffff' };\nconst headerLogo = input.headerLogo || null;\nconst footerLogo = input.footerLogo || null;\nconst header = input.header || [];\nconst footer = input.footer || [];\nconst hero = input.hero || { enabled: true, height: 600 };\n\nlet pages = input.pages || [];\nif (pages.length > 0 && typeof pages[0] === 'string') {\n  pages = pages.map(p => ({ name: p, slug: p.toLowerCase(), description: '', subpages: [] }));\n}\n\nif (pages.length === 0) {\n  if (projectType === 'corporate' || projectType === 'blog' || projectType === 'portfolio') {\n    pages = [\n      { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n      { name: 'Rólunk', slug: 'about', description: 'Cégbemutató', subpages: [] },\n      { name: 'Szolgáltatások', slug: 'services', description: 'Szolgáltatások', subpages: [] },\n      { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n    ];\n  } else if (projectType === 'shop') {\n    pages = [\n      { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n      { name: 'Termékek', slug: 'products', description: 'Termékkatalógus', subpages: [] },\n      { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n    ];\n  } else {\n    pages = [\n      { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n      { name: 'Rólunk', slug: 'about', description: 'Cégbemutató', subpages: [] },\n      { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n    ];\n  }\n}\n\nreturn { businessName, projectType, languages, description, designStyle, aiModel, customPrompt, apiKeyOverride, notifyEmail, logoMode, logoPrompt, colors, headerLogo, footerLogo, header, hero, footer, pages };"
      },
      "id": "prepare-input",
      "name": "Bemenet feldolgozása",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nconst data = $input.all()[0].json;\nconst lang = data.languages[0] || 'hu';\n\nconst pageList = data.pages.map(p => {\n  let line = p.name + ' (' + p.slug + ')';\n  if (p.description) line += ': ' + p.description;\n  return line;\n}).join('\\n');\n\nconst heroInfo = data.hero && data.hero.enabled ? `Hero: yes, height=${data.hero.height}px` : 'Hero: no';\n\nconst base = `Create a complete website for:\nBusiness: ${data.businessName} | Type: ${data.projectType}\nLanguage: ${lang} | Design: ${data.designStyle}\nDescription: ${data.description}\nColors: ${data.colors.primary}, ${data.colors.secondary}, ${data.colors.accent}\n${heroInfo}\n\nPages: ${pageList}\n\nReturn a JSON with:\n- \"pages\": each page has title, meta, content (hero for home, sections with title and text)\n- \"images\": array of image prompts for AI image generation. Include: page_slug, section, prompt (concise English description).\n- \"config\": system (site_name, language), theme (colors), header, footer, plugins\n- \"animations\": CSS animation suggestions\n- \"admin_structure\": blueprints\n\nCreate SEO-optimized content in ${lang}. Return CLEAN JSON only.`;\n\nconst prompt = data.customPrompt ? base + '\\n\\nCUSTOM: ' + data.customPrompt : base;\nconst apiKey = data.apiKeyOverride || $env.DEEPSEEK_API_KEY || '';\nif (!apiKey) throw new Error('Missing API key');\n\nconst requestBody = JSON.stringify({\n  model: data.aiModel, messages: [{ role: 'system', content: 'You are a web designer. Return pure JSON (no markdown).' }, { role: 'user', content: prompt }],\n  temperature: 0.7, max_tokens: 4096, response_format: { type: 'json_object' }\n});\n\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.deepseek.com', port: 443, path: '/v1/chat/completions', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + apiKey, 'Content-Length': Buffer.byteLength(requestBody) }, timeout: 120000\n  }, (res) => {\n    let body = ''; res.on('data', chunk => body += chunk);\n    res.on('end', () => { try { const j = JSON.parse(body); if (j.error) reject(new Error(j.error.message)); else resolve(j); } catch(e) { reject(new Error(body.substring(0,200))); } });\n  });\n  req.on('error', reject); req.on('timeout', () => { req.destroy(); reject(new Error('Timeout')); });\n  req.write(requestBody); req.end();\n});\n\nreturn { ...result, _businessName: data.businessName };"
      },
      "id": "api-call",
      "name": "DeepSeek API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [670, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst https = require('https');\nconst { execSync } = require('child_process');\n\nconst response = $input.all()[0].json;\n\n// ---- Parse ----\nlet content; let rawText = '';\nif (response.choices) {\n  rawText = response.choices[0].message.content;\n  try { content = JSON.parse(rawText); } catch(e) {\n    try { const m = rawText.match(/\\{[\\s\\S]*\\}/); if (m) content = JSON.parse(m[0]); else throw e; } catch(e2) {\n      content = { error: \"Parse failed\", raw: rawText.substring(0,2000) };\n    }\n  }\n} else { content = { error: \"No response\" }; }\n\nconst bizName = response._businessName || 'unknown';\nconst safeName = bizName.toLowerCase().replace(/[^a-z0-9]/g, '_').substring(0, 30);\nconst ts = new Date().toISOString().replace(/[:.]/g, '-');\n\n// ---- Könyvtárak ----\nconst outputDir = '/home/node/output';\nconst workDir = path.join(outputDir, 'build_' + safeName + '_' + ts);\nconst pagesDir = path.join(workDir, 'pages');\nconst imagesDir = path.join(workDir, 'images');\n\n[workDir, pagesDir, imagesDir].forEach(d => { try { if (!fs.existsSync(d)) fs.mkdirSync(d, { recursive: true }); } catch(err) {} });\n\n// ---- KÉPEK GENERÁLÁSA (Pexels API – ingyenes jogtiszta fotók) ----\nlet imageMap = {};\nif (content.images && Array.isArray(content.images)) {\n  for (const img of content.images.slice(0, 4)) {\n    if (!img.prompt) continue;\n    // Pollinations.ai – egyszerű, nincs API kulcs\n    const encodedPrompt = encodeURIComponent(img.prompt);\n    const imageUrl = `https://image.pollinations.ai/prompt/${encodedPrompt}?width=800&height=600&nologo=true`;\n    const imgFilename = (img.page_slug || 'image') + '_' + Date.now() + '.jpg';\n    const imgPath = path.join(imagesDir, imgFilename);\n    \n    try {\n      await new Promise((resolve, reject) => {\n        https.get(imageUrl, (res) => {\n          if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n            https.get(res.headers.location, (redirRes) => {\n              const file = fs.createWriteStream(imgPath);\n              redirRes.pipe(file);\n              file.on('finish', () => { file.close(); resolve(); });\n              file.on('error', reject);\n            }).on('error', () => resolve());\n          } else {\n            const file = fs.createWriteStream(imgPath);\n            res.pipe(file);\n            file.on('finish', () => { file.close(); resolve(); });\n            file.on('error', () => resolve());\n          }\n        }).on('error', () => resolve());\n      });\n      const key = (img.page_slug || 'general') + (img.section ? '_' + img.section : '');\n      imageMap[key] = 'images/' + imgFilename;\n    } catch(err) {}\n  }\n}\n\n// Fallback SVG placeholders\nif (Object.keys(imageMap).length === 0 && content.pages) {\n  Object.keys(content.pages).forEach((slug, idx) => {\n    const color = [content.config?.theme?.colors?.primary, '#6366f1', '#8b5cf6', '#f59e0b'][idx % 4];\n    const svgContent = `<svg width=\"800\" height=\"400\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"100%\" height=\"100%\" fill=\"${color}\"/><text x=\"50%\" y=\"50%\" dominant-baseline=\"middle\" text-anchor=\"middle\" font-family=\"Arial\" font-size=\"24\" fill=\"white\">${content.pages[slug]?.title || slug}</text></svg>`;\n    const svgFilename = 'page_' + slug + '.svg';\n    try { fs.writeFileSync(path.join(imagesDir, svgFilename), svgContent); imageMap[slug] = 'images/' + svgFilename; } catch(err) {}\n  });\n}\n\n// ---- .md FÁJLOK GENERÁLÁSA ----\nif (content.pages) {\n  Object.keys(content.pages).forEach(slug => {\n    const page = content.pages[slug];\n    const mdName = slug === 'home' ? '01.home' : slug.replace(/^\\d+\\./, '') + '.md';\n    let md = '---\\ntitle: \"' + (page.title || slug) + '\"\\nvisible: true\\n---\\n\\n';\n\n    if (slug === 'home' && page.content && page.content.hero) {\n      const heroImg = imageMap['home_hero'] || imageMap['home'] || '';\n      if (heroImg) md += `![Hero](${heroImg})\\n\\n`;\n      md += '# ' + (page.content.hero.title || '') + '\\n\\n' + (page.content.hero.subtitle || '') + '\\n\\n';\n    }\n\n    if (page.content && page.content.sections) {\n      page.content.sections.forEach((sec, idx) => {\n        md += '## ' + (sec.title || '') + '\\n\\n';\n        if (sec.content) md += sec.content + '\\n\\n';\n        const secKey = slug + (sec.title ? '_' + sec.title.toLowerCase().replace(/\\s+/g, '_') : '_section_' + idx);\n        if (imageMap[secKey]) md += `![${sec.title || ''}](${imageMap[secKey]})\\n\\n`;\n      });\n    }\n\n    const mdPath = path.join(pagesDir, mdName);\n    try { fs.writeFileSync(mdPath, md, 'utf8'); } catch(err) {}\n  });\n} else {\n  try { fs.writeFileSync(path.join(pagesDir, '01.home', 'default.md'), '---\\ntitle: \"' + bizName + '\"\\n---\\n\\n# ' + bizName + '\\n\\n' + rawText, 'utf8'); } catch(err) {}\n}\n\n// ---- README + META ----\nlet readme = '# ' + bizName + '\\n\\n';\nreadme += 'Generated by n8n-gravity v1.5.0\\n\\n';\nif (content.config && content.config.system) readme += '**Site:** ' + (content.config.system.site_name || '') + '\\n';\nif (content.config && content.config.theme && content.config.theme.colors) {\n  readme += '**Colors:** ';\n  Object.entries(content.config.theme.colors).forEach(([k,v]) => { readme += k + '=' + v + ' '; });\n  readme += '\\n';\n}\nif (content.animations) readme += '**Animations:** ' + content.animations.join(', ') + '\\n';\nif (content.config && content.config.plugins) readme += '**Plugins:** ' + content.config.plugins.join(', ') + '\\n';\ntry { fs.writeFileSync(path.join(workDir, 'README.md'), readme, 'utf8'); } catch(err) {}\n\n// ---- Gravity CMS konfig ----\nlet systemYaml = 'absolute_urls: true\\n';\nif (content.config && content.config.system) {\n  if (content.config.system.site_name) systemYaml += 'site_name: \"' + content.config.system.site_name + '\"\\n';\n  if (content.config.system.language) systemYaml += 'language: ' + content.config.system.language + '\\n';\n}\nsystemYaml += 'pages:\\n  theme: quark\\n';\ntry { fs.writeFileSync(path.join(workDir, 'system.yaml'), systemYaml, 'utf8'); } catch(err) {}\n\n// ---- JSON export ----\nconst jsonFile = path.join(outputDir, safeName + '_' + ts + '.json');\ntry { fs.writeFileSync(jsonFile, JSON.stringify({ ...content, images: imageMap, pages_count: content.pages ? Object.keys(content.pages).length : 0, images_count: Object.keys(imageMap).length }, null, 2), 'utf8'); } catch(err) {}\n\n// ---- TAR.GZ csomagolás ----\nconst tarFile = path.join(outputDir, safeName + '_' + ts + '_website.tar.gz');\ntry {\n  execSync('cd ' + outputDir + ' && tar czf ' + tarFile + ' build_' + safeName + '_' + ts, { timeout: 10000 });\n} catch(err) {}\n\n// ---- Jogosultságok + takarítás ----\ntry { execSync('chmod -R 777 ' + outputDir, { timeout: 2000 }); } catch(err) {}\n\n// ---- Gravity CMS deploy (ha mount-olva van) ----\nconst gravPagesDir = '/home/node/gravity-pages';\ntry {\n  if (!fs.existsSync(gravPagesDir)) fs.mkdirSync(gravPagesDir, { recursive: true });\n  const pageDir = path.join(gravPagesDir, '01.' + safeName);\n  if (!fs.existsSync(pageDir)) fs.mkdirSync(pageDir, { recursive: true });\n  // Másoljuk az .md fájlokat a gravity-pages-be\n  if (fs.existsSync(pagesDir)) {\n    const files = fs.readdirSync(pagesDir);\n    files.forEach(f => {\n      const src = path.join(pagesDir, f);\n      const dst = path.join(pageDir, f);\n      try { fs.copyFileSync(src, dst); fs.chmodSync(dst, 0o666); } catch(err) {}\n    });\n  }\n  // Másoljuk a képeket is\n  const gravImagesDir = path.join(pageDir, 'images');\n  if (!fs.existsSync(gravImagesDir)) fs.mkdirSync(gravImagesDir, { recursive: true });\n  if (fs.existsSync(imagesDir)) {\n    const imgFiles = fs.readdirSync(imagesDir);\n    imgFiles.forEach(f => {\n      const src = path.join(imagesDir, f);\n      const dst = path.join(gravImagesDir, f);\n      try { fs.copyFileSync(src, dst); fs.chmodSync(dst, 0o666); } catch(err) {}\n    });\n  }\n  try { execSync('chmod -R 777 ' + gravPagesDir, { timeout: 2000 }); } catch(err) {}\n} catch(err) {}\n\nreturn {\n  generated: content,\n  saved_to: path.relative(outputDir, tarFile),\n  json_file: path.relative(outputDir, jsonFile),\n  pages_count: content.pages ? Object.keys(content.pages).length : 0,\n  images_count: Object.keys(imageMap).length,\n  timestamp: new Date().toISOString(),\n  model: response.model || 'deepseek-v4-flash',\n  usage: response.usage || {}\n};"
      },
      "id": "process-response",
      "name": "Teljes weboldal + TAR.GZ export",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook (Indító)": { "main": [[ { "node": "Bemenet feldolgozása", "type": "main", "index": 0 } ]] },
    "Bemenet feldolgozása": { "main": [[ { "node": "DeepSeek API", "type": "main", "index": 0 } ]] },
    "DeepSeek API": { "main": [[ { "node": "Teljes weboldal + TAR.GZ export", "type": "main", "index": 0 } ]] },
    "Teljes weboldal + TAR.GZ export": { "main": [] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "saveManualExecutions": true },
  "versionId": "8.0.0",
  "active": false,
  "description": "v1.5.0: Teljes weboldal TAR.GZ export – .md fájlok, képek, README, system.yaml, JSON egy csomagban. Letölthető a webes űrlapról!",
  "tags": [{ "name": "gravity-cms" }, { "name": "ai" }, { "name": "export" }, { "name": "production" }]
}