workflows/example-gravity-cms-deepseek.json
{
  "name": "Gravity CMS Weboldal Generátor - v1.3.0",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "options": {} },
      "id": "trigger-webhook",
      "name": "Webhook (Indító)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "gravity-generate"
    },
    {
      "parameters": {
        "jsCode": "let input = {};\ntry { input = $input.item.json; } catch(e) {}\ntry { if (!input || !input.businessName) input = $json; } catch(e) {}\n\nconst projectType = input.projectType || 'landing_page';\nconst businessName = input.businessName || 'My Business';\nconst languages = input.languages || ['hu'];\nconst description = input.description || '';\nconst designStyle = input.designStyle || 'modern';\nconst aiModel = input.aiModel || 'deepseek-v4-flash';\nconst customPrompt = input.customPrompt || '';\nconst apiKeyOverride = input.apiKeyOverride || '';\nconst notifyEmail = input.notifyEmail || '';\nconst logoMode = input.logoMode || 'upload';\nconst logoPrompt = input.logoPrompt || '';\nconst colors = input.colors || { primary: '#6366f1', secondary: '#8b5cf6', accent: '#f59e0b', headerBg: '#ffffff' };\nconst headerLogo = input.headerLogo || null;\nconst footerLogo = input.footerLogo || null;\nconst header = input.header || [];\nconst footer = input.footer || [];\nconst hero = input.hero || { enabled: true, height: 600 };\n\nlet pages = input.pages || [];\nif (pages.length > 0 && typeof pages[0] === 'string') {\n  pages = pages.map(p => ({ name: p, slug: p.toLowerCase(), description: '', subpages: [] }));\n}\n\n// Típusfüggő oldalak, ha nincs megadva\nif (pages.length === 0) {\n  if (projectType === 'corporate' || projectType === 'blog' || projectType === 'portfolio') {\n    pages = [\n      { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n      { name: 'Rólunk', slug: 'about', description: 'Cégbemutató', subpages: [] },\n      { name: 'Szolgáltatások', slug: 'services', description: 'Szolgáltatások', subpages: [] },\n      { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n    ];\n  } else if (projectType === 'shop') {\n    pages = [\n      { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n      { name: 'Termékek', slug: 'products', description: 'Termékkatalógus', subpages: [] },\n      { name: 'Kosár', slug: 'cart', description: 'Bevásárlókosár', subpages: [] },\n      { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n    ];\n  } else {\n    pages = [\n      { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n      { name: 'Rólunk', slug: 'about', description: 'Cégbemutató', subpages: [] },\n      { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n    ];\n  }\n}\n\nreturn { businessName, projectType, languages, description, designStyle, aiModel, customPrompt, apiKeyOverride, notifyEmail, logoMode, logoPrompt, colors, headerLogo, footerLogo, header, hero, footer, pages };"
      },
      "id": "prepare-input",
      "name": "Bemenet feldolgozása (Code)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nconst data = $input.all()[0].json;\nconst lang = data.languages[0] || 'hu';\n\nconst pageList = data.pages.map(p => {\n  let line = p.name + ' (' + p.slug + ')';\n  if (p.description) line += ': ' + p.description;\n  return line;\n}).join('\\n');\n\nconst heroInfo = data.hero && data.hero.enabled ? `Hero section: yes, height ${data.hero.height}px.` : 'Hero section: no.';\n\n// Egyszerű, strukturált prompt – a válasz JSON lesz a response_format miatt\nconst base = `Generate a complete website structure as JSON for:\n\nBusiness: ${data.businessName}\nType: ${data.projectType}\nLanguage: ${lang}\nDesign: ${data.designStyle}\nDescription: ${data.description}\nColors: primary=${data.colors.primary}, secondary=${data.colors.secondary}, accent=${data.colors.accent}\n${heroInfo}\n\nRequired pages:\n${pageList}\n\nOutput a JSON object with these top-level keys:\n- \"pages\": object where each key is a page slug. Each page has: title, content (with hero if home page, and sections array with type, title, content), meta (title, description)\n- \"config\": system (site_name, language), theme (colors, fonts), header, footer, plugins (array of plugin names)\n- \"admin_structure\": blueprints and forms\n\nCreate professional, SEO-optimized content. Write in ${lang} language.`;\n\nconst prompt = data.customPrompt ? base + '\\n\\nCustom requirements: ' + data.customPrompt : base;\nconst apiKey = data.apiKeyOverride || $env.DEEPSEEK_API_KEY || '';\n\nif (!apiKey) throw new Error('Missing API key');\n\nconst requestBody = JSON.stringify({\n  model: data.aiModel,\n  messages: [\n    { role: 'system', content: 'You are a Gravity CMS developer. Respond with pure JSON (no markdown fences).' },\n    { role: 'user', content: prompt }\n  ],\n  temperature: 0.7,\n  max_tokens: 4096,\n  response_format: { type: 'json_object' }\n});\n\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.deepseek.com', port: 443, path: '/v1/chat/completions', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + apiKey, 'Content-Length': Buffer.byteLength(requestBody) },\n    timeout: 120000\n  }, (res) => {\n    let body = '';\n    res.on('data', chunk => body += chunk);\n    res.on('end', () => {\n      try { const json = JSON.parse(body); if (json.error) reject(new Error(json.error.message)); else resolve(json); }\n      catch (e) { reject(new Error('API parse error: ' + body.substring(0, 200))); }\n    });\n  });\n  req.on('error', reject);\n  req.on('timeout', () => { req.destroy(); reject(new Error('Timeout')); });\n  req.write(requestBody); req.end();\n});\n\nreturn { ...result, _businessName: data.businessName, _pageCount: data.pages.length };"
      },
      "id": "api-call",
      "name": "DeepSeek API hívás",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [670, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst { execSync } = require('child_process');\n\nconst response = $input.all()[0].json;\n\nlet content;\nlet rawText = '';\nif (response.choices) {\n  rawText = response.choices[0].message.content;\n  try {\n    let jsonStr = rawText.trim();\n    // Többlépcsős tisztítás\n    if (jsonStr.startsWith('```json')) jsonStr = jsonStr.replace(/^```json\\s*/, '').replace(/\\s*```$/, '');\n    else if (jsonStr.startsWith('```')) jsonStr = jsonStr.replace(/^```\\s*/, '').replace(/\\s*```$/, '');\n    if (!jsonStr.startsWith('{') && jsonStr.includes('{')) {\n      jsonStr = jsonStr.substring(jsonStr.indexOf('{'), jsonStr.lastIndexOf('}') + 1);\n    }\n    content = JSON.parse(jsonStr);\n  } catch (e) {\n    // Próbáljuk újra regex-szel\n    try {\n      const m = rawText.match(/\\{[\\s\\S]*\\}/);\n      if (m) content = JSON.parse(m[0]);\n      else throw e;\n    } catch (e2) {\n      content = { error: \"Parse failed after retry\", raw: rawText.substring(0, 2000) };\n    }\n  }\n} else {\n  content = { error: \"No response\", apiResponse: response };\n  rawText = JSON.stringify(response);\n}\n\nconst bizName = response._businessName || 'unknown';\nconst safeName = bizName.toLowerCase().replace(/[^a-z0-9]/g, '_').substring(0, 30);\nconst ts = new Date().toISOString().replace(/[:.]/g, '-');\n\n// JSON mentés\nconst outputDir = '/home/node/output';\nconst jsonFile = path.join(outputDir, safeName + '_' + ts + '.json');\ntry { if (!fs.existsSync(outputDir)) fs.mkdirSync(outputDir, { recursive: true }); fs.writeFileSync(jsonFile, JSON.stringify(content, null, 2), 'utf8'); } catch (err) {}\n\n// Verziókövetés\nconst versionsDir = path.join(outputDir, 'versions');\ntry { if (!fs.existsSync(versionsDir)) fs.mkdirSync(versionsDir, { recursive: true }); fs.writeFileSync(path.join(versionsDir, safeName + '_' + ts + '.json'), JSON.stringify(content, null, 2), 'utf8'); } catch (err) {}\n\n// SVG logó\nlet svgSaved = null;\nif (content.config && content.config.logo && content.config.logo.svg) {\n  const svgDir = path.join(outputDir, 'logos');\n  const svgFile = path.join(svgDir, safeName + '_logo.svg');\n  try { if (!fs.existsSync(svgDir)) fs.mkdirSync(svgDir, { recursive: true }); fs.writeFileSync(svgFile, content.config.logo.svg, 'utf8'); svgSaved = '/output/logos/' + safeName + '_logo.svg'; } catch (err) {}\n}\n\n// GRAVITY CMS DEPLOY – MINDIG!\nconst gravPagesDir = '/home/node/gravity-pages';\nconst pageDir = path.join(gravPagesDir, '01.' + safeName);\ntry {\n  if (!fs.existsSync(pageDir)) fs.mkdirSync(pageDir, { recursive: true });\n\n  if (content.pages) {\n    Object.keys(content.pages).forEach(slug => {\n      const page = content.pages[slug];\n      const mdName = slug === 'home' ? 'default.md' : slug + '.md';\n      let md = '---\\ntitle: \"' + (page.title || slug) + '\"\\n';\n      if (page.meta) md += 'metadata:\\n  description: \"' + (page.meta.description || '') + '\"\\n';\n      md += 'visible: true\\n---\\n\\n';\n      if (page.content && page.content.hero) {\n        md += '# ' + (page.content.hero.title || '') + '\\n\\n' + (page.content.hero.subtitle || '') + '\\n\\n';\n      }\n      if (page.content && page.content.sections) {\n        page.content.sections.forEach(sec => {\n          md += '## ' + (sec.title || '') + '\\n\\n' + (sec.content || '') + '\\n\\n';\n        });\n      }\n      const mdPath = path.join(pageDir, mdName);\n      fs.writeFileSync(mdPath, md, 'utf8');\n      try { fs.chmodSync(mdPath, 0o666); } catch (err) {}\n    });\n  } else {\n    let rawMd = '---\\ntitle: \"' + bizName + '\"\\nvisible: true\\n---\\n\\n# ' + bizName + '\\n\\n> Parse failed. Raw response:\\n\\n' + rawText;\n    const mdPath = path.join(pageDir, 'default.md');\n    fs.writeFileSync(mdPath, rawMd, 'utf8');\n    try { fs.chmodSync(mdPath, 0o666); } catch (err) {}\n  }\n  // Jogosultságok a teljes könyvtárra\n  try { execSync('chmod -R 777 ' + gravPagesDir, { timeout: 2000 }); } catch (err) {}\n} catch (err) {}\n\n// Teljes export YAML\nfunction generateFullExportYAML(content) {\n  let yaml = '# n8n-gravity v1.3.0 – Generated Gravity CMS Package\\n';\n  yaml += '# ============================================\\n';\n  yaml += '# Full export: pages, config, theme, plugins\\n\\n';\n  yaml += '## SYSTEM\\n';\n  if (content.config && content.config.system) {\n    const sys = content.config.system;\n    yaml += 'system.yaml:\\n';\n    if (sys.site_name) yaml += '  site_name: \"' + sys.site_name + '\"\\n';\n    yaml += '  timezone: Europe/Budapest\\n';\n  }\n  yaml += '\\n## THEME\\n';\n  if (content.config && content.config.theme && content.config.theme.colors) {\n    yaml += 'theme.yaml:\\n';\n    const th = content.config.theme;\n    Object.keys(th.colors).forEach(c => { yaml += '  ' + c + ': \"' + th.colors[c] + '\"\\n'; });\n  }\n  yaml += '\\n## PLUGINS\\n';\n  if (content.config && content.config.plugins) {\n    content.config.plugins.forEach(p => { yaml += '- ' + p + '\\n'; });\n  } else { yaml += '(none suggested)\\n'; }\n  yaml += '\\n## PAGES (generated as .md files)\\n';\n  if (content.pages) {\n    yaml += Object.keys(content.pages).length + ' pages generated.\\n';\n    Object.keys(content.pages).forEach(s => {\n      const p = content.pages[s];\n      yaml += '  - ' + s + (p.title ? ': ' + p.title : '') + '\\n';\n    });\n  } else { yaml += 'Parse failed – no pages generated.\\n'; }\n  return yaml;\n}\n\nif (content.config) {\n  const exportYaml = generateFullExportYAML(content);\n  const exportFile = path.join(outputDir, safeName + '_' + ts + '_package.txt');\n  try { fs.writeFileSync(exportFile, exportYaml, 'utf8'); } catch (err) {}\n}\n\nreturn {\n  generated: content,\n  saved_to: jsonFile,\n  gravity_deployed: true,\n  gravity_path: '01.' + safeName,\n  pages_count: content.pages ? Object.keys(content.pages).length : 0,\n  timestamp: new Date().toISOString(),\n  model: response.model || 'deepseek-v4-flash',\n  usage: response.usage || {}\n};"
      },
      "id": "process-response",
      "name": "Válasz feldolgozás + CMS + Teljes export",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook (Indító)": { "main": [[ { "node": "Bemenet feldolgozása (Code)", "type": "main", "index": 0 } ]] },
    "Bemenet feldolgozása (Code)": { "main": [[ { "node": "DeepSeek API hívás", "type": "main", "index": 0 } ]] },
    "DeepSeek API hívás": { "main": [[ { "node": "Válasz feldolgozás + CMS + Teljes export", "type": "main", "index": 0 } ]] },
    "Válasz feldolgozás + CMS + Teljes export": { "main": [] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "saveManualExecutions": true },
  "versionId": "6.0.0",
  "active": false,
  "description": "v1.3.0: Típusfüggő oldalszám, robusztus JSON parse, teljes YAML export, minden generálásnál .md fájlok.",
  "tags": [{ "name": "gravity-cms" }, { "name": "ai" }, { "name": "stable" }]
}