workflows/example-gravity-cms-deepseek.json
{
  "name": "Gravity CMS Weboldal Generátor - v1.6.0 (RÉSZLETES TARTALOM)",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "options": {} },
      "id": "trigger-webhook",
      "name": "Webhook (Indító)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "gravity-generate"
    },
    {
      "parameters": {
        "jsCode": "let input = {};\ntry { input = $input.item.json; } catch(e) {}\ntry { if (!input || !input.businessName) input = $json; } catch(e) {}\n\nconst projectType = input.projectType || 'landing_page';\nconst businessName = input.businessName || 'My Business';\nconst languages = input.languages || ['hu'];\nconst description = input.description || '';\nconst designStyle = input.designStyle || 'modern';\nconst aiModel = input.aiModel || 'deepseek-v4-flash';\nconst customPrompt = input.customPrompt || '';\nconst apiKeyOverride = input.apiKeyOverride || '';\nconst notifyEmail = input.notifyEmail || '';\nconst logoMode = input.logoMode || 'upload';\nconst logoPrompt = input.logoPrompt || '';\nconst colors = input.colors || { primary: '#6366f1', secondary: '#8b5cf6', accent: '#f59e0b', headerBg: '#ffffff' };\nconst headerLogo = input.headerLogo || null;\nconst footerLogo = input.footerLogo || null;\nconst header = input.header || [];\nconst footer = input.footer || [];\nconst hero = input.hero || { enabled: true, height: 600 };\n\nlet pages = input.pages || [];\nif (pages.length > 0 && typeof pages[0] === 'string') {\n  pages = pages.map(p => ({ name: p, slug: p.toLowerCase(), description: '', subpages: [] }));\n}\n\nif (pages.length === 0) {\n  pages = [\n    { name: 'Kezdőlap', slug: 'home', description: 'Főoldal', subpages: [] },\n    { name: 'Rólunk', slug: 'about', description: 'Cégbemutató', subpages: [] },\n    { name: 'Kapcsolat', slug: 'contact', description: 'Elérhetőségek', subpages: [] }\n  ];\n  if (projectType === 'corporate' || projectType === 'blog' || projectType === 'portfolio') {\n    pages.push({ name: 'Szolgáltatások', slug: 'services', description: 'Szolgáltatások', subpages: [] });\n  }\n  if (projectType === 'shop') {\n    pages.push({ name: 'Termékek', slug: 'products', description: 'Termékkatalógus', subpages: [] });\n  }\n}\n\nreturn { businessName, projectType, languages, description, designStyle, aiModel, customPrompt, apiKeyOverride, notifyEmail, logoMode, logoPrompt, colors, headerLogo, footerLogo, header, hero, footer, pages };"
      },
      "id": "prepare-input",
      "name": "Bemenet feldolgozása",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\n\nconst data = $input.all()[0].json;\nconst lang = data.languages[0] || 'hu';\nconst langFull = { hu: 'magyar', en: 'English', de: 'Deutsch', fr: 'français', es: 'español', it: 'italiano' }[lang] || 'magyar';\n\nconst pageList = data.pages.map(p => p.name + ' (' + p.slug + ')').join(', ');\nconst heroInfo = data.hero && data.hero.enabled ? `Van Hero szekció, ${data.hero.height}px magas` : 'Nincs Hero';\n\nconst base = `Te egy professzionális webfejlesztő és SEO szövegíró vagy. Generálj egy TELJES weboldalt a következő specifikáció alapján ${langFull} nyelven.\n\nCÉG: ${data.businessName}\nTÍPUS: ${data.projectType}\nNYELV: ${langFull}\nLEÍRÁS: ${data.description}\nDESIGN: ${data.designStyle}\nSZÍNEK: primary=${data.colors.primary}, secondary=${data.colors.secondary}, accent=${data.colors.accent}\n${heroInfo}\n\nOLDALAK: ${pageList}\n\nKÖTELEZŐEN GENERÁLD A KÖVETKEZŐKET:\n\n1. MINDEN oldalhoz írj RÉSZLETES, 150-300 szavas egyedi tartalmat!\n2. A Kezdőlap tartalmazzon: hero (cím, alcím, CTA gomb), bemutatkozás, szolgáltatások áttekintése, referenciák/ügyfélvélemények, kapcsolat\n3. Minden szekció tartalma LEGALÁBB 2 bekezdés legyen!\n4. Használj meggyőző, üzleti stílusú, SEO-optimalizált szövegeket!\n5. Adj meg 3-4 AI kép promptot (images tömb)\n6. Sorold fel a szükséges Gravity CMS pluginokat (plugins tömb)\n7. Adj CSS animációs javaslatokat (animations tömb)\n\nVÁLASZ formátuma: KIZÁRÓLAG tiszta JSON objektum, magyarázat nélkül:\n{\n  \"pages\": {\n    \"home\": {\n      \"title\": \"Oldal címe\",\n      \"meta\": {\"description\": \"SEO leírás\"},\n      \"content\": {\n        \"hero\": {\"title\": \"Főcím\", \"subtitle\": \"Alcím\", \"cta_text\": \"Gomb szövege\"},\n        \"sections\": [\n          {\"type\": \"features\", \"title\": \"Szekció címe\", \"content\": \"Részletes szöveg... legalább 2 bekezdés\"},\n          {\"type\": \"testimonials\", \"title\": \"Ügyfeleink mondták\", \"content\": \"...\"}\n        ]\n      }\n    },\n    \"about\": { ... },\n    \"contact\": { ... }\n  },\n  \"images\": [{\"page_slug\": \"home\", \"section\": \"hero\", \"prompt\": \"professional office...\"}],\n  \"config\": {\n    \"system\": {\"site_name\": \"${data.businessName}\", \"language\": \"${lang}\"},\n    \"theme\": {\"colors\": {\"primary\": \"${data.colors.primary}\", \"secondary\": \"${data.colors.secondary}\", \"accent\": \"${data.colors.accent}\"}},\n    \"plugins\": [\"form\", \"seo\", \"sitemap\"]\n  },\n  \"animations\": [\"fade-in hero\", \"slide-up sections\"],\n  \"admin_structure\": {}\n}\n\nFONTOS: Minden \"content\" mező tartalma LEGALÁBB 150-300 szó terjedelmű legyen! Semmiképp ne hagyj üresen egyetlen szekciót sem!`;\n\nconst prompt = data.customPrompt ? base + '\\n\\nEGYÉNI KÉRÉS: ' + data.customPrompt : base;\nconst apiKey = data.apiKeyOverride || $env.DEEPSEEK_API_KEY || '';\nif (!apiKey) throw new Error('Missing API key');\n\nconst requestBody = JSON.stringify({\n  model: data.aiModel,\n  messages: [\n    { role: 'system', content: 'You are a professional web developer and SEO copywriter. Generate WELL-WRITTEN, DETAILED, VALUABLE content. NEVER leave sections empty. Write at least 2 paragraphs per section. Return ONLY pure JSON, no markdown.' },\n    { role: 'user', content: prompt }\n  ],\n  temperature: 0.8,\n  max_tokens: 8000,\n  response_format: { type: 'json_object' }\n});\n\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.deepseek.com', port: 443, path: '/v1/chat/completions', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'Authorization': 'Bearer ' + apiKey, 'Content-Length': Buffer.byteLength(requestBody) }, timeout: 120000\n  }, (res) => {\n    let body = ''; res.on('data', chunk => body += chunk);\n    res.on('end', () => { try { const j = JSON.parse(body); if (j.error) reject(new Error(j.error.message)); else resolve(j); } catch(e) { reject(new Error(body.substring(0,200))); } });\n  });\n  req.on('error', reject); req.on('timeout', () => { req.destroy(); reject(new Error('Timeout')); });\n  req.write(requestBody); req.end();\n});\n\nreturn { ...result, _businessName: data.businessName };"
      },
      "id": "api-call",
      "name": "DeepSeek API (RÉSZLETES)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [670, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = require('path');\nconst https = require('https');\nconst zlib = require('zlib');\n\nconst response = $input.all()[0].json;\n\n// ---- Parse ----\nlet content; let rawText = '';\nif (response.choices) {\n  rawText = response.choices[0].message.content;\n  try { content = JSON.parse(rawText); } catch(e) {\n    try { const m = rawText.match(/\\{[\\s\\S]*\\}/); if (m) content = JSON.parse(m[0]); else throw e; } catch(e2) {\n      content = { error: \"Parse failed\", raw: rawText.substring(0,2000) };\n    }\n  }\n} else { content = { error: \"No response\" }; }\n\nconst bizName = response._businessName || 'unknown';\nconst safeName = bizName.toLowerCase().replace(/[^a-z0-9]/g, '_').substring(0, 30);\nconst ts = Date.now();\nconst archiveName = safeName + '_' + ts + '_website.tar.gz';\n\n// ---- Könyvtárak ----\nconst outputDir = '/home/node/output';\nconst workDir = path.join(outputDir, 'build_' + safeName + '_' + ts);\nconst pagesDir = path.join(workDir, 'pages');\nconst imagesDir = path.join(workDir, 'images');\n[workDir, pagesDir, imagesDir].forEach(d => { try { if (!fs.existsSync(d)) fs.mkdirSync(d, { recursive: true }); } catch(err) {} });\n\n// ---- KÉPEK ----\nlet imageMap = {};\nif (content.images && Array.isArray(content.images)) {\n  for (const img of content.images.slice(0, 4)) {\n    if (!img.prompt) continue;\n    const encodedPrompt = encodeURIComponent(img.prompt);\n    const imageUrl = `https://image.pollinations.ai/prompt/${encodedPrompt}?width=800&height=600&nologo=true`;\n    const imgFilename = (img.page_slug || 'img') + '_' + Date.now() + '.jpg';\n    const imgPath = path.join(imagesDir, imgFilename);\n    try {\n      await new Promise((resolve) => {\n        const file = fs.createWriteStream(imgPath);\n        https.get(imageUrl, (res) => {\n          if (res.statusCode >= 300 && res.statusCode < 400 && res.headers.location) {\n            https.get(res.headers.location, (redir) => { redir.pipe(file); file.on('finish', () => { file.close(); resolve(); }); }).on('error', () => resolve());\n          } else { res.pipe(file); file.on('finish', () => { file.close(); resolve(); }); }\n        }).on('error', () => resolve());\n      });\n      imageMap[img.page_slug || 'general'] = 'images/' + imgFilename;\n    } catch(err) {}\n  }\n}\n\n// Fallback SVG\nif (Object.keys(imageMap).length === 0 && content.pages) {\n  Object.keys(content.pages).forEach((slug, idx) => {\n    const color = [content.config?.theme?.colors?.primary, '#6366f1', '#8b5cf6', '#f59e0b'][idx % 4];\n    const svg = `<svg width=\"800\" height=\"400\" xmlns=\"http://www.w3.org/2000/svg\"><rect width=\"100%\" height=\"100%\" fill=\"${color}\"/><text x=\"50%\" y=\"50%\" dominant-baseline=\"middle\" text-anchor=\"middle\" font-family=\"Arial\" font-size=\"24\" fill=\"white\">${content.pages[slug]?.title || slug}</text></svg>`;\n    const fn = 'page_' + slug + '.svg';\n    try { fs.writeFileSync(path.join(imagesDir, fn), svg); imageMap[slug] = 'images/' + fn; } catch(err) {}\n  });\n}\n\n// ---- .md FÁJLOK ----\nif (content.pages) {\n  Object.keys(content.pages).forEach(slug => {\n    const page = content.pages[slug];\n    const mdName = slug === 'home' ? '01.home' : slug + '.md';\n    let md = '---\\ntitle: \"' + (page.title || slug) + '\"\\nvisible: true\\n---\\n\\n';\n    if (slug === 'home' && page.content && page.content.hero) {\n      const heroImg = imageMap['home_hero'] || imageMap['home'] || '';\n      if (heroImg) md += `![Hero](${heroImg})\\n\\n`;\n      md += '# ' + (page.content.hero.title || '') + '\\n\\n' + (page.content.hero.subtitle || '') + '\\n\\n';\n    }\n    if (page.content && page.content.sections) {\n      page.content.sections.forEach(sec => {\n        md += '## ' + (sec.title || '') + '\\n\\n' + (sec.content || '') + '\\n\\n';\n        const key = slug + '_' + (sec.title || '').toLowerCase().replace(/\\s+/g,'_');\n        if (imageMap[key]) md += `![${sec.title || ''}](${imageMap[key]})\\n\\n`;\n      });\n    }\n    try { fs.writeFileSync(path.join(pagesDir, mdName), md, 'utf8'); } catch(err) {}\n  });\n} else {\n  try { fs.writeFileSync(path.join(pagesDir, '01.home'), '---\\ntitle: \"' + bizName + '\"\\n---\\n\\n# ' + bizName + '\\n\\n' + rawText, 'utf8'); } catch(err) {}\n}\n\n// ---- README ----\nlet readme = '# ' + bizName + '\\n\\nGenerated by n8n-gravity v1.6.0\\n\\n';\nif (content.config) {\n  if (content.config.system) readme += '**Site:** ' + (content.config.system.site_name || '') + '\\n';\n  if (content.config.theme && content.config.theme.colors) {\n    readme += '**Colors:** ' + Object.entries(content.config.theme.colors).map(([k,v])=>k+'='+v).join(', ') + '\\n';\n  }\n  if (content.config.plugins) readme += '**Plugins:** ' + content.config.plugins.join(', ') + '\\n';\n}\nif (content.animations) readme += '**Animations:** ' + content.animations.join(', ') + '\\n';\ntry { fs.writeFileSync(path.join(workDir, 'README.md'), readme, 'utf8'); } catch(err) {}\n\n// ---- TAR.GZ csomagolás (Node.js zlib) ----\nconst archivePath = path.join(outputDir, archiveName);\ntry {\n  const files = [];\n  function walk(dir, basePath) {\n    const entries = fs.readdirSync(dir, { withFileTypes: true });\n    for (const entry of entries) {\n      const fullPath = path.join(dir, entry.name);\n      if (entry.isDirectory()) { walk(fullPath, basePath); }\n      else { files.push({ path: fullPath, relative: path.relative(basePath, fullPath) }); }\n    }\n  }\n  walk(workDir, outputDir);\n  \n  const zipped = zlib.gzipSync(Buffer.concat(files.map(f => {\n    const relative = f.relative.replace(workDir + '/', '');\n    const header = Buffer.alloc(512);\n    header.write(relative.substring(0, 99), 0, 'utf8');\n    const size = fs.statSync(f.path).size.toString(8);\n    header.write(size, 124, 11, 'utf8');\n    header[156] = 0x30;\n    const content = fs.readFileSync(f.path);\n    const blocks = Math.ceil(content.length / 512);\n    const padded = Buffer.alloc(blocks * 512);\n    content.copy(padded);\n    return Buffer.concat([header, padded]);\n  })));\n  fs.writeFileSync(archivePath, Buffer.concat([zipped, Buffer.alloc(1024)]));\n  fs.chmodSync(archivePath, 0o666);\n} catch(err) {}\n\nconst jsonFile = path.join(outputDir, safeName + '_' + ts + '.json');\ntry { fs.writeFileSync(jsonFile, JSON.stringify(content, null, 2), 'utf8'); } catch(err) {}\n\ntry { require('child_process').execSync('chmod -R 777 ' + outputDir, { timeout: 2000 }); } catch(err) {}\n\nreturn {\n  generated: content,\n  saved_to: archiveName,\n  pages_count: content.pages ? Object.keys(content.pages).length : 0,\n  images_count: Object.keys(imageMap).length,\n  timestamp: new Date().toISOString(),\n  model: response.model || 'deepseek-v4-flash'\n};"
      },
      "id": "process-response",
      "name": "Weboldal + TAR.GZ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Webhook (Indító)": { "main": [[ { "node": "Bemenet feldolgozása", "type": "main", "index": 0 } ]] },
    "Bemenet feldolgozása": { "main": [[ { "node": "DeepSeek API (RÉSZLETES)", "type": "main", "index": 0 } ]] },
    "DeepSeek API (RÉSZLETES)": { "main": [[ { "node": "Weboldal + TAR.GZ", "type": "main", "index": 0 } ]] },
    "Weboldal + TAR.GZ": { "main": [] }
  },
  "settings": { "executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "saveManualExecutions": true },
  "versionId": "9.0.0",
  "active": false,
  "description": "v1.6.0: JAVÍTVA – részletes magyar prompt, max_tokens=8000, temperature=0.8, kötelező tartalom generálás.",
  "tags": [{ "name": "gravity-cms" }, { "name": "ai" }, { "name": "production" }]
}